<form class="{{cssClass}} characterSheet" autocomplete="off">
  <div id="main">
    <div class="container">
      {{!-- Sheet Header --}}
      <header class="header-fields">
        <!-- {{!-- Sheet Tab Navigation --}}
        <div id="tabs-bar" class="row flex-between   pl-0 pr-0">
          <div class="tab">
            <button href="index.html">Caractéristiques</button>
          </div>
          <div class="tab flex-">
            <button href="Combat.html">Combat</button>
          </div>
          <div class="tab flex-">
            <button href="Inventaire.html">Inventaire</button>
          </div>
          <div class="tab flex-">
            <button href="Description.html">Description</button>
          </div>
        </div> -->

        <div class="row">
          <div class="bloc">
            <div class="separator">Eclat</div>
            <input
              type="number"
              id=""
              class="rounded-input"
              name="system.eclat.value"
              value="{{data.eclat.value}}"

            />
          </div>

          <div class="bloc">
            <div class="separator">Bonne Aventure</div>
            <div class="bonne-aventure">
              <span>Actuel</span>
              <input
                type="number"
                id=""
                class="rounded-input"
                name="system.bonneaventure.actuelle"
                value="{{data.bonneaventure.actuelle}}"
                data-dtype="Number"
              />
              <input
                type="number"
                id=""
                class="rounded-input"
                name="system.bonneaventure.base"
                value="{{data.bonneaventure.base}}"
                data-dtype="Number"
              />
              <span>Base</span>
            </div>
          </div>

          <div class="bloc">
            <div class="separator">Expérience</div>
            <input
              type="number"
              id=""
              class="rounded-input"
              name="system.experience.value"
              value="{{data.eclat.value}}"
            />
          </div>
        </div>

        <div class="second-row">
          <div class="separator">Attributs</div>
          <div class="attributs">
            <div class="attribut">
              <div class="label">Adresse</div>
              <div class="input-adresse">
                <input
                  type="number"
                  name="system.attributs.adr.value"
                  id=""
                  class="circle-input"
                  value="{{data.attributs.adr.value}}"
                />
              </div>
            </div>

            <div class="attribut">
              <div class="label">Puissance</div>
              <div class="input-puissance">
                <input
                  type="number"
                  name="system.attributs.pui.value"
                  id=""
                  class="circle-input"
                  value="{{data.attributs.pui.value}}"
                />
              </div>
            </div>

            <div class="attribut">
              <div class="label">Clairvoyance</div>
              <div class="input-clairvoyance">
                <input
                  type="number"
                  id=""
                  class="circle-input"
                  name="system.attributs.clair.value"
                  value="{{data.attributs.cla.value}}"
                />
              </div>
            </div>

            <div class="attribut">
              <div class="label">Présence</div>
              <div class="input-presence">
                <input
                  type="number"
                  id=""
                  class="circle-input"
                  name="system.attributs.pre.value"
                  value="{{data.attributs.pre.value}}"
                />
              </div>
            </div>

            <div class="attribut">
              <div class="label">Trempe</div>
              <div class="input-trempe">
                <input
                  type="number"
                  id=""
                  class="circle-input"
                  name="system.attributs.tre.value"
                  value="{{data.attributs.tre.value}}"
                />
              </div>
            </div>
          </div>
          <div class="third-row mt-20">
            <div class="first-col">
              <div class="separator">Compétences</div>
              <div class="competences">
                {{#each skills as |skill key|}}
                <div
                  class="comp-row item"
                  data-item-id="{{skill._id}}"
                  data-item-type="competence"
                >
                  <p class="comp-label">{{skill.name}}</p>
                  <div class="input-comp">
                    <select
                      class="rounded-input edit-item-data"
                      type="text"
                      data-item-field="niveau"
                      value="{{skill.system.niveau}}"
                      data-dtype="Number"
                    >
                      {{#select skill.system.niveau}} {{>
                      systems/fvtt-wasteland/templates/partial-list-niveau.html}}
                      {{/select}}
                    </select>
                    {{#each comp.attributs as |attr key|}}
                    <input
                      type="number"
                      value="data.attributs.{{attr}}.value"
                      class="rounded-input adr-before"
                    />
                    {{/each}} {{#if (ne skill.system.attribut1 "none")}}
                    <span class="item-field-label-short">
                      <button
                        class="rounded-input roll-competence"
                        data-attr-key="{{skill.system.attribut1}}"
                      >
                        {{upper skill.system.attribut1}} :
                        {{skill.system.attribut1total}}
                      </button>
                    </span>
                    {{/if}} {{#if (ne skill.system.attribut2 "none")}}
                    <span class="item-field-label-short">
                      <button
                        class="rounded-input roll-competence"
                        data-attr-key="{{skill.system.attribut2}}"
                      >
                        {{upper skill.system.attribut2}} :
                        {{skill.system.attribut2total}}
                      </button>
                    </span>
                    {{/if}} {{#if (ne skill.system.attribut3 "none")}}
                    <span class="item-field-label-short">
                      <button
                        class="rounded-input roll-competence"
                        data-attr-key="{{skill.system.attribut3}}"
                      >
                        {{upper skill.system.attribut3}} :
                        {{skill.system.attribut3total}}
                      </button>
                    </span>
                  
                    {{/if}}
                  </div>
                </div>
                {{/each}}
              </div>
            </div>
            <div class="second-col">
              <div class="separator">Savoirs</div>
              <div class="competences">
                {{#each savoirs as |savoir key|}}
                <div
                  class="comp-row item"
                  data-item-id="{{savoir._id}}"
                  data-item-type="competence"
                >
                  <p class="comp-label">{{savoir.name}}</p>
                  <div class="input-comp">
                    <select
                      class="rounded-input edit-item-data"
                      type="text"
                      data-item-field="niveau"
                      value="{{savoir.system.niveau}}"
                      data-dtype="Number"
                    >
                      {{#select savoir.system.niveau}} {{>
                      systems/fvtt-wasteland/templates/partial-list-niveau.html}}
                      {{/select}}
                    </select>
                    {{#each comp.attributs as |attr key|}}
                    <input
                      type="number"
                      value="data.attributs.{{attr}}.value"
                      class="rounded-input adr-before"
                    />
                    {{/each}} {{#if (ne savoir.system.attribut1 "none")}}
                    <span class="item-field-label-short">
                      <button
                        class="rounded-input roll-competence button-sheet-roll"
                        data-attr-key="{{savoir.system.attribut1}}"
                      >
                        {{upper savoir.system.attribut1}} :
                        {{savoir.system.attribut1total}}
                      </button>
                    </span>
                    {{/if}} {{#if (ne savoir.system.attribut2 "none")}}
                    <span class="item-field-label-short">
                      <button
                        class="rounded-input roll-competence button-sheet-roll"
                        data-attr-key="{{savoir.system.attribut2}}"
                      >
                        {{upper savoir.system.attribut2}} :
                        {{savoir.system.attribut2total}}
                      </button>
                    </span>
                    {{/if}} {{#if (ne savoir.system.attribut3 "none")}}
                    <span class="item-field-label-short">
                      <button
                        class="rounded-input roll-competence button-sheet-roll"
                        data-attr-key="{{savoir.system.attribut3}}"
                      >
                        {{upper savoir.system.attribut3}} :
                        {{savoir.system.attribut3total}}
                      </button>
                    </span>
                  
                    {{/if}}
                   
                  </div>
                  <div class="item-controls item-controls-fixed">
                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                  </div>
                </div>
                {{/each}}
              </div>
            </div>
          </div>
        </div>
      </header>
    </div>
  </div>
</form>
 