<form class="{{cssClass}} characterSheet" autocomplete="off">
  <div class="item-img">
    <div class="paperClip" alt="">
    </div>
    <div class="polaroid"><img src="{{img}}" data-edit="img" title="{{name}}" style="background-image: url({{img}});" class="img profile-img"/>
      <input id="input-name" class="caption" name="name" type="text" value="{{name}}" placeholder="Name" />
    </div>
  </div>
  <div id="main">
 
    <div class="container">
      
      {{!-- Sheet Header --}}
      <header class="header-fields">
        <div class="row ml-20">
          <div class="bloc eclat">
            <div class="separator">Eclat</div>
            <input
              type="number"
              id=""
              class="rounded-input"
              name="system.eclat.value"
              value="{{data.eclat.value}}"
            />
          </div>

          <div class="bloc">
            <div class="separator">Bonne Aventure</div>
            <div class="bonne-aventure">
              <span>Actuel</span>
              <input
                type="number"
                id=""
                class="rounded-input"
                name="system.bonneaventure.actuelle"
                value="{{data.bonneaventure.actuelle}}"
                data-dtype="Number"
              />
              <input
                type="number"
                id=""
                class="rounded-input"
                name="system.bonneaventure.base"
                value="{{data.bonneaventure.base}}"
                data-dtype="Number"
              />
              <span>Base</span>
            </div>
          </div>

          <div class="bloc experience">
            <div class="separator">Expérience</div>
            <input
              type="number"
              id=""
              class="rounded-input"
              name="system.experience.value"
              value="{{data.eclat.value}}"
            />
          </div>
        </div>
      </header>

      <div class="second-row">
        <div class="w-80 ml-20">
        <div class="separator">Attributs</div>
        <div class="attributs">
          {{#each data.attributs as |attr key|}}
          <div class="attribut">
            <div class="label">{{attr.label}}</div>
            <div>
              <input
                type="number"
                name="system.attributs.{{key}}.value"
                id=""
                class="circle-input"
                value="{{attr.value}}"
              />
            </div>
          </div>
          {{/each}}
        </div>
      </div>
        {{!-- Sheet Tab Navigation --}}
        <nav
          class="sheet-tabs tabs"
          style="width: 100%; margin-top: 20px"
          data-group="primary"
        >
          <a class="item" data-tab="competences">Compétences</a>
          <a class="item" data-tab="combat">Combat</a>
          <a class="item" data-tab="equipement">Equipement</a>
          <a class="item" data-tab="biodata">Bio&Notes</a>
          <a class="item" data-tab="autres">Autres...</a>
        </nav>
        <div class="sheet-body third-row">
          <div
            class="third-row mt-20 tab competences"
            data-group="primary"
            data-tab="competences"
          >
            <div class="first-col">
              <div class="separator">Compétences</div>
              <div class="competences">
                {{#each skills as |skill key|}} 
                <div
                  class="comp-row item"
                  data-item-id="{{skill._id}}"
                  data-item-type="competence"
                >
                  <p class="comp-label">{{skill.name}}</p>
                  <div class="input-comp">
                    <select
                      class="rounded-input edit-item-data"
                      type="text"
                      data-item-field="niveau"
                      value="{{skill.system.niveau}}"
                      data-dtype="Number"
                    >
                      {{#select skill.system.niveau}} {{>
                      systems/fvtt-wasteland/templates/partial-list-niveau.html}}
                      {{/select}}
                    </select>
                    {{#each comp.attributs as |attr key|}}
                    <input
                      type="number"
                      value="data.attributs.{{attr}}.value"
                      class="rounded-input adr-before"
                    />
                    {{/each}} {{#if (ne skill.system.attribut1 "none")}}
                    <span class="item-field-label-short">
                      <button
                        class="rounded-input roll-competence"
                        data-attr-key="{{skill.system.attribut1}}"
                      >
                        {{upper skill.system.attribut1}} :
                        {{skill.system.attribut1total}}
                      </button>
                    </span>
                    {{/if}} {{#if (ne skill.system.attribut2 "none")}}
                    <span class="item-field-label-short">
                      <button
                        class="rounded-input roll-competence"
                        data-attr-key="{{skill.system.attribut2}}"
                      >
                        {{upper skill.system.attribut2}} :
                        {{skill.system.attribut2total}}
                      </button>
                    </span>
                    {{/if}} {{#if (ne skill.system.attribut3 "none")}}
                    <span class="item-field-label-short">
                      <button
                        class="rounded-input roll-competence"
                        data-attr-key="{{skill.system.attribut3}}"
                      >
                        {{upper skill.system.attribut3}} :
                        {{skill.system.attribut3total}}
                      </button>
                    </span>

                    {{/if}}
                    <div class="item-controls item-controls-fixed">
                      <a class="item-control item-edit" title="Edit Item"
                        ><i class="fas fa-edit"></i
                      ></a>
                      <a class="item-control item-delete" title="Delete Item"
                        ><i class="fas fa-trash"></i
                      ></a>
                    </div>
                  </div>
                </div>
                {{/each}}
              </div>
            </div>
            <div class="second-col">
              <div class="separator">Savoirs</div>
              <div class="competences">
                {{#each savoirs as |savoir key|}}
                <div
                  class="comp-row item"
                  data-item-id="{{savoir._id}}"
                  data-item-type="competence"
                >
                  <p class="comp-label">{{savoir.name}}</p>
                  <div class="input-comp">
                    <select
                      class="rounded-input edit-item-data"
                      type="text"
                      data-item-field="niveau"
                      value="{{savoir.system.niveau}}"
                      data-dtype="Number"
                    >
                      {{#select savoir.system.niveau}} {{>
                      systems/fvtt-wasteland/templates/partial-list-niveau.html}}
                      {{/select}}
                    </select>
                    {{#each comp.attributs as |attr key|}}
                    <input
                      type="number"
                      value="data.attributs.{{attr}}.value"
                      class="rounded-input adr-before"
                    />
                    {{/each}} {{#if (ne savoir.system.attribut1 "none")}}
                    <span class="item-field-label-short">
                      <button
                        class="rounded-input roll-competence button-sheet-roll"
                        data-attr-key="{{savoir.system.attribut1}}"
                      >
                        {{upper savoir.system.attribut1}} :
                        {{savoir.system.attribut1total}}
                      </button>
                    </span>
                    {{/if}} {{#if (ne savoir.system.attribut2 "none")}}
                    <span class="item-field-label-short">
                      <button
                        class="rounded-input roll-competence button-sheet-roll"
                        data-attr-key="{{savoir.system.attribut2}}"
                      >
                        {{upper savoir.system.attribut2}} :
                        {{savoir.system.attribut2total}}
                      </button>
                    </span>
                    {{/if}} {{#if (ne savoir.system.attribut3 "none")}}
                    <span class="item-field-label-short">
                      <button
                        class="rounded-input roll-competence button-sheet-roll"
                        data-attr-key="{{savoir.system.attribut3}}"
                      >
                        {{upper savoir.system.attribut3}} :
                        {{savoir.system.attribut3total}}
                      </button>
                    </span>

                    {{/if}}
                  </div>
                  <div class="item-controls item-controls-fixed">
                    <a class="item-control item-edit" title="Edit Item"
                      ><i class="fas fa-edit"></i
                    ></a>
                    <a class="item-control item-delete" title="Delete Item"
                      ><i class="fas fa-trash"></i
                    ></a>
                  </div>
                </div>
                {{/each}}
              </div>
            </div>
          </div>
          <div
            class="third-row mt-20 tab combat"
            data-group="primary"
            data-tab="combat"
          >
            <div class="first-col">
              <div class="separator">Combat</div>
              <div class="row">
                <div class="bloc">
                  <span>Initiative</span>
                  <input
                    type="text"
                    class="rounded-input"
                    value="{{combat.initTotal}}"
                    data-dtype="Number"
                    data-item-field="initiative"
                    disabled
                  />
                </div>
                <div class="bloc">
                  <span>Bonus D</span>
                  <input
                    type="text"
                    class="rounded-input"
                    value="{{combat.bonusDegatsTotal}}"
                    data-dtype="Number"
                    disabled
                    data-item-field="initiative"
                  />
                </div>
                <div class="bloc">
                  <span>Vitesse</span>
                  <input
                    type="text"
                    class="rounded-input"
                    value="{{combat.vitesseTotal}}"
                    data-dtype="Number"
                    disabled
                    data-item-field="initiative"
                  />
                </div>
                <div class="bloc">
                  <span>Défense</span>
                  <input
                    type="text"
                    class="rounded-input"
                    value="{{combat.defenseTotal}}"
                    data-dtype="Number"
                    disabled
                    data-item-field="initiative"
                  />
                </div>
              </div>
              <div class="row">
                <table class="table-arme table">
                  <tr class="thead">
                    <th>Arme</th>
                    <th>BM</th>
                    <th>Cap.Off</th>
                    <th>Def</th>
                    <th>D</th>
                    <th>Actions</th>
                  </tr>
                  {{#each armes as |arme key|}}
                  <tr
                    class="tbody item"
                    data-item-id="{{arme._id}}"
                    data-item-type="arme"
                  >
                    <td class="flex">{{arme.name}}</td>
                    <td>
                      {{arme.system.bonusmaniementoff }} /
                      {{arme.system.bonusmaniementdef}}
                    </td>
                    <td>
                      {{#if arme.system.equipped}}
                      <button class="roll-arme-offensif button-sheet-roll">
                        {{arme.system.totalOffensif}}
                      </button>
                      {{else}}
                      <button
                        disabled
                        class="roll-arme-offensif button-sheet-roll"
                      >
                        {{arme.system.totalOffensif}}
                      </button>
                      {{/if}}
                    </td>
                    <td>
                      {{#if arme.system.isdefense}}
                      <span class="item-field-label-short arme-defensif"
                        ><label class="arme-defensif"
                          >{{arme.system.totalDefensif}}</label
                        ></span
                      >
                      {{else}}
                      <span class="item-field-label-short arme-defensif"
                        ><label class="arme-defensif">-</label></span
                      >
                      {{/if}}
                    </td>
                    <td>
                      <span class="item-field-label-short">
                        {{#if arme.system.equipped}}
                        <button class="roll-arme-degats button-sheet-roll">
                          {{arme.system.totalDegats}}
                        </button>
                        {{else}}
                        <button
                          disabled
                          class="roll-arme-degats button-sheet-roll"
                        >
                          {{arme.system.totalDegats}}
                        </button>
                        {{/if}}
                      </span>
                    </td>
                    <td>
                      <div class="item-controls item-controls-fixed">
                        <a class="item-control item-equip" title="Worn"
                          >{{#if arme.system.equipped}}<i
                            class="fas fa-circle"
                          ></i
                          >{{else}}<i class="fas fa-genderless"></i>{{/if}}</a
                        >
                        <a class="item-control item-edit" title="Edit Item"
                          ><i class="fas fa-edit"></i
                        ></a>
                        <a class="item-control item-delete" title="Delete Item"
                          ><i class="fas fa-trash"></i
                        ></a>
                      </div>
                    </td>
                  </tr>

                  {{/each}}
                </table>
              </div>
            </div>
            <div class="second-col">
              <div class="separator">Protection</div>
              <div class="row">
                <table class="table-protection table">
                  <tr class="thead">
                    <th>Protection</th>
                    <th>Défense</th>
                    <th>Actions</th>
                  </tr>
                  {{#each protections as |protection key|}}
                  <tr
                    class="tbody item"
                    data-item-id="{{protection._id}}"
                    data-item-type="protection"
                  >
                    <td class="flex">{{protection.name}}</td>
                    <td>{{protection.system.protection}}</td>
                    <td>
                      <div class="item-controls item-controls-fixed">
                        <a class="item-control item-edit" title="Edit Item"
                          ><i class="fas fa-edit"></i
                        ></a>
                        <a class="item-control item-delete" title="Delete Item"
                          ><i class="fas fa-trash"></i
                        ></a>
                      </div>
                    </td>
                  </tr>

                  {{/each}}
                </table>
              </div>
            </div>
          </div>
          <div
            class="third-row mt-20 tab equipement"
            data-group="primary"
            data-tab="equipement"
          >
            <div class="separator mt-20">Equipement</div>
            <div class="row">
              <table class="table table-equipement">
                <tr class="thead">
                  <th>Equipement</th>
                  <th>Description</th>
                  <th>Actions</th>
                </tr>
                {{#each equipements as |equipement key|}}
                <tr
                  class="tbody item"
                  data-item-id="{{equipement._id}}"
                  data-item-type="equipement"
                >
                  <td class="flex">{{equipement.name}}</td>
                  <td>{{{ equipement.system.description }}}</td>
                  <td>
                    <div class="item-controls item-controls-fixed">
                      <a class="item-control item-edit" title="Edit Item"
                        ><i class="fas fa-edit"></i
                      ></a>
                      <a class="item-control item-delete" title="Delete Item"
                        ><i class="fas fa-trash"></i
                      ></a>
                    </div>
                  </td>
                </tr>

                {{/each}}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
