<form class="{{cssClass}} characterSheet" autocomplete="off" >
  <div class="item-img">
    <div class="paperClip" alt=""></div>
    <div class="polaroid">
      <img
        src="{{img}}"
        data-edit="img"
        title="{{name}}"
        style="background-image: url({{img}});"
        class="img profile-img"
      />
      <input
        id="input-name"
        class="caption"
        name="name"
        type="text"
        value="{{name}}"
        placeholder="Name"
      />
    </div>
  </div>
  <div id="main">
    <div class="container"></div>
  </div>
</form>
